# Task 1 BA FORAGE INTERNSHIP

DATA COLLECTION

In this phase we will collect the customer rating data from a website called Skytrax. We will collect data about the airline ratings, seats ratings, lounge experience ratings from this website.

In [1]:
# Import libraries and dependencies
# Install Beautiful Soup for scraping the website
conda install -c anaconda beautifulsoup4

SyntaxError: invalid syntax (2424351179.py, line 3)

In [2]:
# Install Beautiful Soup for scraping the website 
# Is a python package which allows us to pull data out of HTML and XML documents.
pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in c:\users\admin\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\admin\anaconda3\lib\site-packages (from BeautifulSoup4) (2.3.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install lxml

In [10]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [11]:
# Create an empty list to collect all collected reviews
reviews = []

# Create an empty list to collect star ratings
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviewer is from
country = []

In [17]:
# loop through the specified paginated pages
for i in range(1, 36): #loop through the first 35 pages
    # a variable to store the respective page html content using the request module
    page = requests.get(f'https://www.airlinequality.com/airline-reviews/british-airways/page{i}?sortby=post_date%3ADesc&pagesize=100')
    
    # create a BeautifulSoup instance
    soup = BeautifulSoup(page.content, 'lxml')
    
    # find and collect the reviews using its specified tag and class from the html content
    for item in soup.find_all('div', class_= 'text_content'):
        reviews.append(item.text)
    
    # find and collect the star rating using its specified tag and class from the html
    for item in soup.find_all('div', class_='rating-10'):
        try:
            stars.append(item.span.text)
        except:
            print(f'Error on page{i}')
            stars.append('None')
            
    # find and collect the date of the reviews using its specified tag from the html
    for item in soup.find_all('time'):
        date.append(item.text)
        
    # find and collect the country of the reviewer using its specified tag from the html
    for item in soup.find_all('h3'):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page30
Error on page31
Error on page32
Error on page34
Error on page34

In [18]:
# show length of reviews
len(reviews)

7000

In [19]:
# show length of reviews
len(country)

7000

In [ ]:
# show length of reviews
stars = stars[:7000]

### Create a DataFrame from the collected data

In [24]:
df = pd.DataFrame({"reviews":reviews, "stars":stars, "date":date, "country":country })

In [25]:
# display the first 5 rows
# display the first 5 rowsdf.head()

,reviews,stars,date,country
0,Not Verified | They changed our Flights from ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,18th April 2023,United States
1,Not Verified | At Copenhagen the most chaotic...,2,18th April 2023,United States
2,✅ Trip Verified | Worst experience of my life...,5,17th April 2023,United States
3,✅ Trip Verified | Due to code sharing with Ca...,1,17th April 2023,Hong Kong
4,✅ Trip Verified | LHR check in was quick at t...,3,16th April 2023,United Kingdom

In [26]:
# display the last 5 rows
df.tail()

,reviews,stars,date,country
6995,Once again a good flight from LHR to Warsaw in...,10,11th May 2014,United Kingdom
6996,LGW-MRU-LGW in business. Outbound flight good ...,8,11th May 2014,United Kingdom
6997,LHR-FRA-LCY May 2014. LHR-FRA on a 767 row 18....,10,11th May 2014,United Kingdom
6998,Rating : 10/10 Cabin Flown Economy Value for M...,1,11th May 2014,United Kingdom
6999,08/5/2014 JFK-LHR-BRU. After the perfect outbo...,9,11th May 2014,Belgium

In [27]:
# display the shape - number of rows and columns of the DataFrame
df.shape

(7000, 4)

### Export the data into a csv format

In [28]:
# the OS module in Python provides functions for interacting with the operating system.
import os

In [29]:
# getcwd() method tells us the location of current working directory (CWD)
cwd = os.getcwd()
df.to_csv(cwd+ '/BA_reviews.csv')